body {
    padding-top: 5rem;
    background-color: #FEF9E7;
    font-family: 'Courgette', cursive;
}

/* HOMEPAGE */

#camera_logo{
    max-width: 20px;
    max-height: 20px;
}

#home_page{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 30%;
}

#home_img{
    margin-right: 0.8em;
}

#mountain_home{
    max-width: 400px;
    max-height: 400px;
    border-radius: 5px;
    border: 1px solid #888;
    box-shadow: 0 0 1px 1px #888;
}

#home_options{
    padding: 15px;
    background-color: white;
    text-align: center;
    border: 1px solid #888;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px #888;
}

.btn, #home_btn1{
    min-width:220px;
    margin-right: 0.5em;
}

.btn, #home_btn2{
    min-width:220px;
    margin-right: 0.5em;
}

/* REGISTRATION */

#reg_head{
    text-align: center;
    margin-right: 7.4em;
    margin-top: 1.5em;
}

#reg {
    background-color:white;
    width: 350px;
    height: auto;
    padding: auto;
    border: 1px solid #888;
    box-shadow: 0 0 1px 1px #888;
    text-align: left;
    margin: auto;
}

.reg_form{
    margin-left: 1.5em;
    margin-top: 1.5em;
}

#reg_button{
    margin-left: 1.5em;
}

.btn,#reg_button{
    min-width:300px;
}

.form_ele{
    width: 300px;
}

#form_bib{
    height: 90px;
}

/* LOGIN */

#log_head{
    text-align: center;
    margin-right: 10.0em;
    margin-top: 1.5em;
}

#log {
    background-color:white;
    width: 400px;
    height: 300px;
    border: 1px solid #888;
    box-shadow: 0 0 1px 1px #888;
    text-align: left;
    margin: auto;
    margin-bottom: 30%;
}

#log_u{
    margin-top: 1.4em;
}

.log_info{
    margin-left: 1.4em;
    margin-top: auto;
}

.log_ele{
    width: 340px;
}

#log_button{
    margin-left: 1.4em;
    margin-top: 1.8em;
}

.btn,#log_button{
    min-width:342px;
}

/* New Post */

#newp_head{
    text-align: center;
    margin-right: 7.9em;
    margin-top: 1.5em;
}

#newp {
    background-color:white;
    width: 400px;
    height: 300px;
    border: 1px solid #888;
    box-shadow: 0 0 1px 1px #888;
    text-align: left;
    margin: auto;
    margin-bottom: 30%;
}

#newp_photo{
    margin-top: 1.4em;
}

.newp_info{
    margin-left: 1.4em;
    margin-top: auto;
}

#newp_ele{
    width: 340px;
}

#newp_txt{
    width: 340px;
}

#newp_button{
    margin-left: 1.4em;
    margin-top: 1.8em;
}

.btn,#newp_button{
  min-width:342px;
}

/* EXPLORE */

#exp{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#explore_blank{
    grid-area: 1 / 1 / 6 / 4;
    background-color: white;
    max-width: 700px;
}

#new_post_btn{
    grid-area: 1 / 4 / 6 / 6;
    text-align: right;
}

#user_post{
    height: 400px;
    width: 680px;
}

#left_data{
    text-align: left;
    float: left;
}

#right_data{
    text-align: right;
    float: right;
}

#empty_heart{
    width: 30px;
    height: 30px;
}

/* LOGIN */